**/data
**/outputs
**/models
**/*.jpg
**/lightning_logs
**/mgjeon
**/*.npz
**/*.pth
**/*.pt
**/*.mp4
**/*.csv
**/course22p2/
**/.ipynb_checkpoints/
**/out/
**/*.joblib
**/optuna_test/
**/*.pkl
**/AutogluonModels/
**/ag_multimodal_tutorial/
**/autogluon-m4-hourly/
**/*.torchscript
**/datasets/
**/runs/
**/hapicache
PyHC/**/*.txt
PyHC/**/*.svg
PyHC/**/cachedir
**/*.cdf
Neuromancer/**/*.png
**/demreg/demreg
**/__pycache__/
PyHC/**/pyspedas/*data/
PyHC/**/pyspedas/mth5/
PyHC/**/spacepy/*tutorial/
PyHC/**/spacepy/*.h5
Solarsoft/**/*.fits
PyHC/**/solarmach/*.png
PyHC/**/Kamodo/*.png
PyHC/**/KAMODO_DEMO/
PyHC/**/*_data/
PyHC/**/pysat/MODEL*/
SpaceML/SDOML/*.txt
SpaceML/SDOML/*.png
SpaceML/SDOML/*.sav
Sunpy/aiapy/*.txt