# **/data
# **/outputs
# **/models
**/*.jpg
**/lightning_logs
**/mgjeon
**/*.npz
**/*.pth
**/*.pt
**/*.mp4
**/*.csv
**/course22p2/
**/.ipynb_checkpoints/
# **/out/
**/*.joblib
**/optuna_test/
**/*.pkl
**/AutogluonModels/
**/ag_multimodal_tutorial/
**/autogluon-m4-hourly/
**/*.torchscript
**/datasets/
**/runs/
**/hapicache
PyHC/**/*.txt
PyHC/**/*.svg
PyHC/**/cachedir
**/*.cdf
Neuromancer/**/*.png
**/demreg/demreg
**/__pycache__/
PyHC/**/pyspedas/*data/
PyHC/**/pyspedas/mth5/
PyHC/**/spacepy/*tutorial/
PyHC/**/spacepy/*.h5
Solarsoft/**/*.fits
PyHC/**/solarmach/*.png
PyHC/**/Kamodo/*.png
PyHC/**/KAMODO_DEMO/
PyHC/**/*_data/
PyHC/**/pysat/MODEL*/
SpaceML/SDOML/*.txt
SpaceML/SDOML/*.png
SpaceML/SDOML/*.sav
Sunpy/aiapy/*.txt
HuggingFace/**/*.json
HuggingFace/**/*.safetensors
SSW_WinterSchool/01_upper_atmosphere/data/**/*.png
SSW_WinterSchool/01_upper_atmosphere/data/**/*.hdf5
SSW_WinterSchool/01_upper_atmosphere/data/**/*.nc
SpaceML/**/*.fits
SpaceWeather/**/*.INX
Huggingface/course_nlp/unit02_using_transformers/dir_*
Huggingface/course_nlp/unit03_fine_tuning/test-trainer/
Huggingface/diffusers/00_get_started/*.png
Huggingface/course_deep_RL/unit1_bonus/ml-agents
Huggingface/course_deep_RL/unit1_bonus/results
Huggingface/course_deep_RL/unit1_bonus/trained*
Huggingface/course_deep_RL/unit3*/hub
Huggingface/course_deep_RL/unit3*/logs
NeRF/repo/
NeRF/papers*/**/novel_views/
NeRF/output*/
CFD/repo/
.DS_Store
Book/Computational_Physics_Anagnostopoulos/_code
Book/Numerical_Python_Schmidt/*.pdf
Book/Numerical_Python_Schmidt/_code/